/* mobil */
@media (max-width: 767px) {
    .d_style-sleek{
        justify-content: center;
        align-items: center;
    }
    .d_text h2{
        max-width: 100%;
        font-size: 23px !important;
        line-height: 38px !important;
        margin-top: 32px;
    }

    .d_text p{
        max-width: 100%;
        font-size: 12px !important;
        line-height: 26px !important;
    }
    .d_text{
        width: 100%;
        margin-right: 0 !important;
        width: 90% !important;
    }
    #d_tabel1{
        display: none !important;
    } 
    #d_tabel2{
        display: block !important;
    } 

    #d_tabel2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #d_tabel_img{
        width: 100%;
        height: 16.6%;
        background-image: url(../images/sectionD/Frame1.png);
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .d_tabel_n2{
        width: 100% !important;
        height: 16.6% !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(218, 218, 218, 0.699);
    }
    #d_tabel_footer{
        width: 100%;
        height: 16.6%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .d_tabel_n2 p{
        font-family: 'Sofia Pro' !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 20px !important;
        color: #202223 !important;
        margin: 0px 0px !important;
        margin: 0 16px !important;
    }
}

/* tableta */
@media (min-width: 768px) and (max-width: 1199px) {
    .d_style-sleek{
        justify-content: center;
        align-items: center;
    }
    .d_text h2{
        max-width: 100%;
        font-size: 28px !important;
        line-height: 40px !important;
        width: 71% !important;
        margin-top: 32px;
    }

    .d_text p{
        max-width: 100%;
        font-size: 12px !important;
        line-height: 26px !important;
    }
    .d_text{
        width: 100%;
        margin-right: 0 !important;
        width: 58% !important;
    }
    
}

@media (max-width: 1199px) {
    .d_text{
        text-align: center;
        padding-top: 48px;        
    }
    
    .d_table{
        margin-bottom: 0px !important;
        width: 91.54vw !important;
        margin: 0 4.16vw !important;
        margin-top: 70px !important;
    }

    .d_or{
        width: 75.68vw !important;
    }

    #d_or_1{
        top: 0 !important;
        left: 0 !important;
        margin-left: 0 !important;
        margin-top: 46px !important;
    }
    #d_or_2{
        top: 0 !important;
        right: 0 !important;
        margin-left: 0 !important;
        margin-top: calc(70px + 24.07vh - 112px + 24px) !important;
    }
}

/* desktop */

@media (min-width: 1200px) {
    /* .menu-btn, .mobile-menu {
        display: none;
    
    } */
    .d_style-sleek{
        flex-direction: row !important;
    }
}

/* @media (max-width: 1199px) {
    ul.menu, .apply-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        height: 100vh;
        padding: 15px 24px 50px;
    }

    .mobile-menu.active {
        display: block;
    }

    .mobile-menu-header {
        display: flex;
        justify-content: space-between;
    }

    .close-btn {
        background-color: transparent;
        border: 0;
        padding: 0;
    }

    header img {
        height: 30px;
    }

    ul.mobile-menu-list {
        display: flex;
        flex-direction: column;
    }

    ul.mobile-menu-list a {
        padding: 14px 0;
        color: #666666;
        text-transform: uppercase;
        position: relative;
    }

    /* element pozitionat absolut */
    /* ul.mobile-menu-list a:before {
        content: '';
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background: orange;
        z-index: -1;
    } */

    /* ul.mobile-menu-list a:before {
        content: 'hello';
    } 
}*/




/* Section D - Style Sleek (patrate portocalii) - Start */
.d_style-sleek{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgba(0, 0, 0, 0.06);
}
.d_table{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2), 0px 2px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    height: 24.07vh;
    width:38.542vw;
    margin-left: 6.19vw;
    margin-top: 247px;
    margin-bottom: 298px;
    z-index: 2;
}

.d_text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 11.25vw;
}

.d_or{
    z-index: 1;
    width: 30.3vw;
    height: 112px;
    background-color: #F25C05;
    position: absolute;
}


#d_or_1{
    margin-left: calc(6.19vw - 24px);
    margin-top: 224px;
}

#d_or_2{
    margin-left: calc(6.19vw + 38.542vw - 30.3vw + 24px);
    margin-top: calc(247px + 24.07vh - 112px + 24px);
}

.d_style-sleek h2{
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333; 
    width: 100%;
}
.d_style-sleek p{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #666666;
}

.d_style-sleek{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.d_table tr td{
    border-bottom: 1px solid rgba(218, 218, 218, 0.699);
    padding: 0 0.833vw;
}

#d_tabel2{
    display: none;
}